html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@keyframes flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  color: black;
}

.caret {
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  transition: 0.12s;
}

.caret {
  position: absolute;
  display: inline;
}
